.cell {
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 1px solid lightgrey;
}

.hasMushroom {
  background-image: url(./mushroom.jfif);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.hasPlayer {
  background-image: url(./mario.jpg);
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center;
}


